<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.LeagueMapper">

    <resultMap id="LeagueMap" type="ca.usherbrooke.fgen.api.backend.BdTables.League">
        <constructor>
            <arg column="id" javaType="java.lang.Integer"/>
            <arg column="name" javaType="java.lang.String"/>
            <arg column="begin_date" javaType="java.sql.Date"/>
            <arg column="end_date" javaType="java.sql.Date"/>
            <arg column="id_sport" javaType="java.lang.Integer"/>
            <arg column="id_seasons" javaType="java.util.List" typeHandler="ca.usherbrooke.fgen.api.handler.IntegerArrayToListTypeHandler"/>
        </constructor>
    </resultMap>

    <select id="selectAll" resultMap="LeagueMap">
        SELECT vl.id as id,
               vl.name as name,
               vl.begin_date as begin_date,
               vl.end_date as end_date,
               vl.id_sport,
               vl.id_seasons
        FROM intramurudes.v_league vl
        WHERE vl.archive_league IS NULL;
    </select>

    <select id="selectOne" resultMap="LeagueMap">
        SELECT vl.id as id,
               vl.name as name,
               vl.begin_date as begin_date,
               vl.end_date as end_date,
               vl.id_sport,
               vl.id_seasons
        FROM intramurudes.v_league vl
        WHERE id = #{id} AND vl.archive_league IS NULL;
    </select>

    <select id="selectFromSport" resultType="ca.usherbrooke.fgen.api.backend.BdTables.League">
        select l.id as id,
               l.name as name,
               l.begin_date as begin_date,
               l.end_date as end_date,
               l.done,
               l.id_sport
        from intramurudes.league l
        where id_sport = #{id_sport} AND l.archive IS NULL;
    </select>


    <delete id="deleteOne">
        delete
        from intramurudes.league
        where id = #{id}
    </delete>

    <select id="getLastId" resultType="Integer">
        SELECT last_value FROM intramurudes.league_id_seq;
    </select>

    <insert id="insert">
        insert into intramurudes.league(name,
                                        begin_date,
                                        end_date,
                                        done,
                                        id_sport)
        values (#{league.name},
                #{league.beginDate},
                #{league.endDate},
                #{league.done},
                #{league.idSport});
    </insert>

</mapper>