<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.LeagueMapper">
    <select id="selectAll" resultType="ca.usherbrooke.fgen.api.backend.League">
        select l.id as id,
               l.name as name,
               l.begin_date as begin_date,
               l.end_date as end_date,
               l.done,
               l.id_sport
        from intramurudes.league l
    </select>

    <select id="selectOne" resultType="ca.usherbrooke.fgen.api.backend.League">
        select l.id as id,
               l.name as name,
               l.begin_date as begin_date,
               l.end_date as end_date,
               l.done,
               l.id_sport
        from intramurudes.league l
        where id = #{id}
    </select>

    <select id="selectFromSport" resultType="ca.usherbrooke.fgen.api.backend.League">
        select l.id as id,
               l.name as name,
               l.begin_date as begin_date,
               l.end_date as end_date,
               l.done,
               l.id_sport
        from intramurudes.league l
        where id_sport = #{id_sport}
    </select>


    <delete id="deleteOne">
        delete
        from intramurudes.league
        where id = #{id}
    </delete>

    <select id="getLastId" resultType="Integer">
        SELECT last_value FROM intramurudes.league_id_seq;
    </select>

    <insert id="insertLeague">
        insert into intramurudes.league(name,
                                        begin_date,
                                        end_date,
                                        done,
                                        id_sport)
        values (#{league.name},
                #{league.beginDate},
                #{league.endDate},
                #{league.done},
                #{league.idSport});
    </insert>

</mapper>