<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.MatchMapper">
    <resultMap id="MatchMap" type="ca.usherbrooke.fgen.api.backend.BdTables.Match">
        <constructor>
            <arg column="id" javaType="java.lang.Integer"/>
            <arg column="date_match" javaType="java.sql.Date"/>
            <arg column="begin_time" javaType="java.sql.Time"/>
            <arg column="end_time" javaType="java.sql.Time"/>
            <arg column="place" javaType="java.lang.String"/>
            <arg column="id_league" javaType="java.lang.Integer"/>
            <arg column="nb_team_match" javaType="java.lang.Integer"/>
            <arg column="id_teams" javaType="java.util.List" typeHandler="ca.usherbrooke.fgen.api.handler.IntegerArrayToListTypeHandler"/>
            <arg column="id_season" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>


    <select id="selectAll" resultMap="MatchMap">
        SET search_path = intramurudes;
        SELECT vmls.match_id AS id,
               vmls.date_match AS date_match,
               vmls.begin_time AS begin_time,
               vmls.end_time AS end_time,
               vmls.place AS place,
               vmls.id_league AS id_league,
               vmls.nb_team_match AS nb_team_match,
               vmls.list_teams AS id_teams,
               vmls.id_season AS id_season
        FROM v_match_league_sport vmls
        WHERE vmls.archive_match = FALSE;
    </select>

    <select id="selectOne" resultMap="MatchMap">
        SET search_path = intramurudes;
        SELECT vmls.match_id AS id,
               vmls.date_match AS date_match,
               vmls.begin_time AS begin_time,
               vmls.end_time AS end_time,
               vmls.place AS place,
               vmls.id_league AS id_league,
               vmls.nb_team_match AS nb_team_match,
               vmls.list_teams AS id_teams
        FROM v_match_league_sport vmls
        WHERE match_id = #{id} AND vmls.archive_match = FALSE;
    </select>


    <delete id="deleteOne">
        delete
        from intramurudes.match_
        where id = #{id}
    </delete>

    <select id="getLastId" resultType="Integer">
        SELECT last_value FROM intramurudes.match__id_seq;
    </select>

    <insert id="insert">
        insert into intramurudes.match_(date_match, begin_time, end_time, id_league)
        values (#{match.date},
                #{match.beginTime},
                #{match.endTime},
                #{match.idLeague});
    </insert>

</mapper>