<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.SportMapper">
    <select id="selectAll" resultType="ca.usherbrooke.fgen.api.backend.Sport">
        select id,
               name,
                nb_team_match
        from intramurudes.sport

    </select>

    <select id="selectOne" resultType="ca.usherbrooke.fgen.api.backend.Sport">
        select id,
               name,
               nb_team_match
        from intramurudes.sport
        where id = #{id}
    </select>


    <delete id="deleteOne">
        delete
        from intramurudes.sport
        where id = #{id}
    </delete>

    <select id="getLastId" resultType="Integer">
        SELECT last_value FROM intramurudes.sport_id_seq;
    </select>

    <insert id="insertSport">
        insert into intramurudes.sport(name)
        values (#{sport.name})
    </insert>

</mapper>