<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.TeamMapper">

    <select id="selectTeams" resultType="ca.usherbrooke.fgen.api.backend.BdTables.Team">
        SELECT vtls.id_team AS id,
               vtls.name_team AS name,
               vtls.id_league AS id_league,
               vtls.id_sport AS id_sport
        FROM intramurudes.v_team_league_sport vtls
        WHERE vtls.archive_sport = FALSE;
    </select>

    <select id="selectOneTeam" resultType="ca.usherbrooke.fgen.api.backend.BdTables.Team">
        SELECT id,
               name,
               id_league
        FROM intramurudes.team t
        WHERE id = #{id} AND t.archive = FALSE;
    </select>

    <delete id="deleteOneTeam">
        delete
        from intramurudes.team
        where id = #{id}
    </delete>

    <insert id="insert">
        insert into intramurudes.team(name,
                                      id_league)
        values (#{name},
                #{idLeague})
    </insert>


    <select id="getLastId" resultType="Integer">
        SELECT last_value FROM intramurudes.team_id_seq;
    </select>

</mapper>