### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

*/setdata.sh
*/init.sh
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.gradle/file-system.prob

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea/inspectionProfiles
IntraMurUdeS.db
logs/*

build/
.gradle/


docker/keycloak/data/setdata.sh

docker/keycloak/data/startup-scripts/init.sh
